In [2]:
import pandas as pd

In [15]:
df= pd.DataFrame({"a":[1,2,1,2,3],"b":[4,5,4,5,6]})

In [16]:
df

   a  b
0  1  4
1  2  5
2  1  4
3  2  5
4  3  6

In [17]:
df.duplicated()

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [6]:
df[~df.duplicated()] # removed duplicates

   a  b
0  1  4
1  2  5
4  3  6

In [18]:
df[df.duplicated(keep="first")] #only duplicates kept.

#df[df.duplicated(keep=False)] #dont keep any duplicates and only have the unique ones. 
#Note, even the first occurence of the duplicate will be removed too

   a  b
2  1  4
3  2  5

In [19]:
df2=pd.read_csv("physician_rx.csv")

In [20]:
df2.sort_values(["CroMax_RX", "GlycoMax_RX"])

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
9   AP0728371        0.0            0              0          0           0
27  AP1874350        0.0            0             75          0           0
38  AP1895556        0.0            0             15          0          36
41  AP4321151        0.0            0              0          0         204
75  AP2196115        0.0            0              0          0         384
94  AP2286280        0.0            0              0          0         144
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
20        NaN        0.0           20              0          0          48
52  AP0727498        0.0           20             75          0         120
15  AP2443797        0.0           25              0         72          48
4   AP3185026        0.0           40           1080          0           0
72  AP2152296        0.0           40              0          0         324
43  AP0162284        0.0           45              0          0         696
45  AP1983160        0.0           45            780          0           0
0   AP1912920        0.0           50            510        152           0
28  AP3209293        0.0           55            465          0           0
35  AP0779390        0.0           60              0          0           0
77  AP2014650        0.0           60              0          0          60
47  AP2141780        0.0           65              0          0         288
61  AP1816314        0.0           65              0          0         300
19  AP2166075        0.0           70              0          0          36
91  AP0189854        0.0           70            720          0           0
84  AP0849030        0.0           80            525          0          24
2   AP0129322        0.0           85              0          0         144
18  AP0139724        0.0           85            360          0         480
69  AP1811449        0.0           85              0         88         564
24  AP2214740        0.0           90              0          0           0
80  AP0849708        0.0           90           3495          0           0
34  AP0445910        0.0          105             30          0          24
..        ...        ...          ...            ...        ...         ...
89  AP0433841      120.0           65              0          0           0
68  AP1822470      120.0          330           1200          0         504
59  AP1815618      140.0          110              0         24           0
56  AP1871832      140.0          345              0          0          36
55  AP3632706      140.0          380            165         32           0
26        NaN      150.0          220            510         32        1128
7         NaN      150.0          315            270        184          36
79  AP1336198      150.0          615              0          0           0
11  AP1595288      160.0           35             45          0           0
22  AP2130355      160.0          145              0          0         180
71  AP0118925      160.0          375              0        240           0
23  AP0714887      160.0          780            615         16        2964
53  AP1976314      170.0          495              0        200          24
82  AP1834639      270.0         1240             60         40          60
87  AP2459335      320.0          320              0        256          12
16  AP0036951      330.0          525              0          0           0
40  AP0438309      370.0           85              0          0         780
95  AP1957774      390.0           15              0         16          36
13  AP1365782      400.0           15            255        704         444
96  AP1273998      480.0          630              0          0           0
85  AP0478796      630.0          240            150          0          96
10  AP1934892      640.0          390              0        280           0
29  AP0089696      930.0          250           3435          0         396
57  AP0092627     1360.0         1090            210         24         192
74  AP1869077     1830.0          140              0        488          72
1   AP1350415     2370.0         1320             60       1416        2676
88  AP0812453        NaN           45              0          0         264
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
33  AP0464297        NaN          405              0          0          36

[100 rows x 6 columns]